NODE_ENV=production
PORT=3001
CLIENT_ORIGIN=https://pod-kryshej.ru
PUBLIC_BASE_URL=https://pod-kryshej.ru
DB_HOST=92.246.76.92
DB_PORT=3306
DB_NAME=cz24409_podkrishey
DB_USER=cz24409_podkrishey
DB_PASSWORD=KT4w9tXF
ADMIN_JWT_SECRET=change-this-to-a-long-random-secret
VITE_API_PROXY_TARGET=http://localhost:3001
